@model IEnumerable<ASP_MVC.EF.CTPhieuXuatKho>


<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "CTPhieuXuatKho";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    var idpx = ViewBag.idpx;
    var tenktv = ViewBag.TennKTV;
    var demct = 1;
    var demvd = 1;
    var dsdungcu = (IEnumerable<ASP_MVC.EF.KhoVatDung>)ViewBag.DSDungcu;
    var statuspx = ViewBag.StatusPhieuXuat;
    var ngayxuatphieu = ViewBag.NgayXuat;
}

@section JsFooter{
    <script src="~/Assets/Admin/js/controllers/PhieuXuatKhoController.js"></script>
}
<!-
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Phiếu xuất @idpx - Tên: @tenktv - Ngày xuất: @ngayxuatphieu</h1>
    <div class="idpx" hidden="hidden">@idpx</div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div style="float:left">
                @*@Html.ActionLink("+ Thêm vật dụng", "Create", null, new { @class = "btn btn-success " })*@
                @*@if (statuspx == 0)
                {
                    <input type="button" value="+ Thêm vật dụng" id="btnadd" class="btn btn-success btnAddVatDung" />
                }*@
                @Html.ActionLink("Trở về", "PhieuXuatKho", "Kho", new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-sm" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên dụng cụ</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr id="row_@item.ID" class="updateKho" data-id="@item.ID">
                            <td>@demct</td>
                            <td>@item.KhoVatDung.TenVatDung</td>
                        </tr>
                            demct++;
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>






<!-- /.container-fluid -->
