@model ASP_MVC.EF.VatTu

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Thêm mới vật tư</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenVatTu, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên vật tư" } })
                                    @Html.ValidationMessageFor(model => model.TenVatTu, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control", type = "number", placeholder = "Số lượng" } })
                                    @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DonVi, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Đơn vị" } })
                                    @Html.ValidationMessageFor(model => model.DonVi, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.GiaNhap, new { htmlAttributes = new { @class = "form-control", type = "number", placeholder = "Giá mua" } })
                                    @Html.ValidationMessageFor(model => model.GiaNhap, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control", type = "number", placeholder = "Giá bán" } })
                                    @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control", placeholder = "Ghi chú" } })
                                    @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10" style="float:left">
                                    <input type="submit" value="Thêm" class="btn btn-success" />
                                    @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
