@model ASP_MVC.EF.DichVu_SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Thêm mới dịch vụ - sản phẩm</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MaDV_SP, new { htmlAttributes = new { @class = "form-control",placeholder="Mã dịch vụ" } })
                                    @Html.ValidationMessageFor(model => model.MaDV_SP, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenDichVu_SanPham, new { htmlAttributes = new { @class = "form-control",placeholder="Tên dịch vụ/sản phẩm" } })
                                    @Html.ValidationMessageFor(model => model.TenDichVu_SanPham, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Loai, "Loại", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Loai, new List<SelectListItem>()
                                                            {
                                                                new SelectListItem(){Selected=true, Text= "Dịch vụ", Value = "true" },
                                                                new SelectListItem(){Selected=false, Text= "Sản phẩm", Value = "false" },
                                                            }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { @class = "form-control",placeholder="Đơn giá" } })
                                    @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Diem, new { htmlAttributes = new { @class = "form-control",placeholder="Điểm" } })
                                    @Html.ValidationMessageFor(model => model.Diem, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NgayApDung, "Ngày áp dụng", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NgayApDung, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToString("dd/MM/yyyy") } })
                                    @Html.ValidationMessageFor(model => model.NgayApDung, "", new { @Value = DateTime.Now.ToString("dd/MM/yyyy"), @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10" style="float:left">
                                    <input type="submit" value="Thêm" class="btn btn-success" />
                                    @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



