@model ASP_MVC.EF.MayLanh

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
    var kh = (ASP_MVC.EF.KhachHang)ViewBag.KH;
}

<h2>Thêm máy khách - @kh.HoTen</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Ma, new { htmlAttributes = new { @class = "form-control", placeholder = "Mã máy" } })
                                    @Html.ValidationMessageFor(model => model.Ma, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenMay, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên máy" } })
                                    @Html.ValidationMessageFor(model => model.TenMay, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control", placeholder = "Model - Nhãn hiệu" } })
                                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CongSuat, new { htmlAttributes = new { @class = "form-control", placeholder = "Công suất" } })
                                    @Html.ValidationMessageFor(model => model.ViTri, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ViTri, new { htmlAttributes = new { @class = "form-control", placeholder = "Vị trí" } })
                                    @Html.ValidationMessageFor(model => model.ViTri, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10" style="float:left">
                                    <input type="submit" value="Thêm" class="btn btn-success" />
                                    @Html.ActionLink("Trở về", "Index", "MayPhucVu", new { idkh = kh.ID }, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



